<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Get a free Risk Report</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body class="bg-secondary" style="--bs-bg-opacity: .2;">
  <p>Loading.......</p>
</body>
<script>
  localStorage.setItem('GDriveUserAuthTokn', "<%=encryptData%>");
  window.location = "/google-drive-risk-report"
</script>


</html>